:root {
    --background-colour: #f2f2f2;
    --text-colour: #030303;
    --input-colour: rgba(0, 0, 0, 0.3);
    --form-fields: #E6E6E6;
    --borders: rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    margin: 0;
    color: var(--text-colour);
    background-color: var(--background-colour);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.search-container h1 {
    font-size: 1.6em;
    letter-spacing: 2px;
    white-space: nowrap;
    font-weight: bolder;
}

.search-container h2{
    font-size: 1em;
    margin-top: 0;
    padding: 15px;
    border-block: 1px solid var(--borders);
}

#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#searchForm input,label {
    letter-spacing: 2px;
}

input {
    width: 100%;
    margin-bottom: 6px;
    padding-block: 5px;
    text-align: center;
    border: 1px solid var(--borders);
    border-radius: 2px;
    background-color: var(--form-fields);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input::placeholder{
    color: var(--input-colour);
}

button {
    width: 100%;
    margin-top: 15px;
    padding-block: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    border: 1px solid var(--borders);
    border-radius: 2px;
    background-color: var(--form-fields);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-colour);
    transition: 0.5s;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.warning-container {
    opacity: 0;
    font-size: 0.8em;
    text-align: center;
    width: 200px;
    height: 40px;
    margin-block: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    background-color: #DC4C64;
    transition: opacity 0.5s;
}

.warning-container.active {
    opacity: 1;
}

.tracked-coins{
    width: 100%;
}

.tile {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin-block: 10px;
    padding: 10px 10px;
    border-block: 1px solid var(--borders);
    border-radius: 3px;
    font-size: 0.7em;
}

.img-container {
    grid-column: 1 / 2;
    width: 50px;
    height: 50px;
}

.coin-logo {
    height: 100%;
    width: auto;
}

.name-container {
    grid-column: 2 / 5;
    justify-self: center;
}

.name-container p {
    margin: 3px;
    text-transform: capitalize;
}

.price-container {
    grid-column: 5 / 7;
    justify-self: end;
}

.price-container p {
    margin: 3px;
}

.pos-price-change {
    color: green;
}

.neg-price-change {
    color: red;
}

.source-reference {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 0.5em;
    opacity: 0.5;
}

.source-logo {
    height: 20px;
    width: auto;
    margin-left: 7.5px;
}

@media only screen and (min-width: 600px) {

    body {
        font-size: 20px;
    }

    #searchForm {
        width: 250px;
    }

    .warning-container {
        width: 250px;
        height: 55px;
    }

    .tracked-coins{
        width: 600px;
    }

}